.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_container {
    display: flex;
    margin-top: 1.5rem;
    width: 72%;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
}

.container-input_title {
    /* text-blue-400 text-sm mt-3 mb-6 font-bold */
    text-transform: uppercase;
    color: #f9f9f9;
    font-size: 20px;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.container-input_content {
    /* flex flex-wrap */
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 24px 0;
    margin-left: 12px;
}

.input-group {
    width: 220px;
    height: 40px;
    display: flex;
    flex-direction: column;
}

.input-group__label {
    padding: 0 0.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1em;
    color: #ccd;
    color: rgba(255, 220, 255, 0.6);
    cursor: pointer;
}

.input-group__input {
    color: #fff;
    font-size: 16px;
    border-style: none;
    outline: none;
    height: 40px;
    width: 100%;
    padding: 8px 12px;
    border: 2px solid transparent;
    background-image: linear-gradient(#040714, #040714),
        linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 8px;
    background-size: 200% 100%;
    transition: all 155ms ease-in-out;
}

.input-group__input:hover {
    background-position: 100% 0;
}

.input-group__input:focus {
    outline: 2px dashed #ad2b89;
    outline-offset: 0.5em;
}

.form-button {
    outline: none;
    border: none;
    border-radius: 8px;
    color: #f9f9f9;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: #040714;
    text-decoration: none;
    border: 4px solid rgba(249, 249, 249, 0.1);
    transition-duration: 255ms;
    margin-top: 1.8rem;
    padding: 8px 24px;
    border-radius: 4px;
    cursor: pointer;
}

.form-button:hover {
    border: 4px solid rgba(249, 249,249, 0.8 );
}

.container-input_span {
    display: flex;
    width: 100%;
    color: white;
    --tw-bg-opacity: 1;
    background-color: rgb(34 197 94/var(--tw-bg-opacity));
    font-size: 16px;
    border-style: none;
    outline: none;
    height: 40px;
    width: 100%;
    padding: 8px 12px;
    border-radius: 4px;

}