:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #161824;
  overflow-x: hidden;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #040714;
  border-radius: 10px;
  background-color: #161824;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #161824;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #040714;
  background-color: #040714;
}

.principal {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  /* ubica el footer abajo */
  position: absolute;
  bottom: 0;
  width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.container-select {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.select {
  position: relative;
  width: 50%;
  height: 40px;
  padding: 4px 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 2px solid transparent;
  background-image: linear-gradient(#fff, #fefefe),
  linear-gradient(120deg, #000000 0%, #0a0a0a 50%, #1a1a1a 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 8px;
  color: #040714;
}

.italic {
  padding-left: 8px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

.katex-html {
  display: none;
}

.center-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-container_center {
  width: 100%;
}

.frequency-color {
  width: 400px;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 24px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.frequency-color_text {
  font-size: large;
  font-weight: bolder;
  text-align: center;
}

.frequency-sound {
  width: 300px;
  background-color: #fefefe;
  border-radius: 8px;
}