:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #161824;
  overflow-x: hidden;
}

.footer {
  /* ubica el footer abajo */
  position: absolute;
  bottom: 0;
  width: 100%;
}